<!DOCTYPE html>
<head>
   <title>Quadruped Status</title>
</head>

<body>

   <h1>The Quad</h1>
   <a href="/walkForward">Walk Forward</a>
   <a href="/turnLeft">Turn Left</a>
   <a href="/turnRight">Turn Right</a>
   <br>
   <a href="/bow">Bow</a>
   <a href="/bendBack">Bend Back</a>
   <a href="/walkBackward">Walk Backward</a>
   <br>
   <a href="/homePos">Home Position</a>
   <a href="/jumpUp">Jump Up</a>
   <a href="/jumpBack">Jump Back</a>
   <br>
   <a href="/pushUp">Push Ups</a>
   <a href="/dance">Dance</a>
   <a href="/swerve">Swerve</a>
   <br>
   <a href="/demo">Demo</a>
   <a href="/sayHi">Say Hi</a>


 
   

   {% if message %}
   <h2>Current Command: </h2>
   <h2>{{ message }}</h2>
   {% endif %}

</body>
</html>
